TURBO_TELEMETRY_DISABLED=1

SERVER_PORT=3000

URL_BACKEND=http://localhost:3000
URL_FRONTEND=http://localhost:5173

VITE_URL_BACKEND=http://localhost:3000
VITE_URL_FRONTEND=http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_NAME=grafier
DB_USER=postgres
DB_PASSWORD=postgres
