# General

TURBO_TELEMETRY_DISABLED="1"

# Client

VITE_URL_BACKEND="http://localhost:3000"

# Server

SERVER_PORT="3000"

URL_FRONTEND="http://localhost:5173"

JWT_REFRESH_SECRET="change_me_refresh"
JWT_REFRESH_EXPIRES_IN="7d"
JWT_REFRESH_TTL_MS="604800000"

JWT_ACCESS_SECRET="change_me_access"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_ACCESS_TTL_MS="900000"

JWT_RESET_SECRET="change_me_reset"
JWT_RESET_EXPIRES_IN="1h"
JWT_RESET_TTL_MS="3600000"

DATABASE_URI="postgresql://postgres:postgres@localhost/grafier"

GOOGLE_CLIENT_ID="your_client_id"
GOOGLE_CLIENT_SECRET="your_client_secret"
GOOGLE_CALLBACK_URL="http://localhost:3000/auth/google/callback"

RESEND_API_KEY="your_resend_api_key"
RESEND_MAIL_FROM="Grafier <hello@grafier.ink>"
